<div class="container">
    <div class="first">
        <br>
    <div class="element"><span>User: </span><span>{{person.name}}</span></div>
    <div class="table-container">
        <table >Your Comaties
            <tr><th>Name</th> <th>Members</th> <th>Per Head</th><th>Remarks</th> </tr>
            <tr *ngFor="let comati of comaties"> <td>{{comati.name}}</td> <td>{{comati.totalMembers}}</td><td>{{comati.per_Head}}</td><td>{{comati.remarks}}</td> </tr>
        </table>
    </div>
    </div>
    
     <div class="first"> <br><div class="element"> <span>Register New Comati</span></div><br>
        <div class="inputField">
            <span class="span">Name</span>
            <input class="input" type="text" [(ngModel)]="comati.name"/>
        </div >
        <div class="inputField">
            <span class="span">Per Head Amount</span>
        <input class="input" type="int" [(ngModel)]="comati.per_Head"/>
        </div>
        <div class="inputField">
            <span class="span">Remarks</span>
        <input class="input" type="text" [(ngModel)]="comati.remarks"/>
        </div>
        <div class="inputField">
            <span class="span">Start Date</span>
        <input class="input" type="date" [(ngModel)]="comati.start_Date"/>
        </div>
        <br>
        <button class="button" (click)="register()" >Save</button>
    </div>
    
</div>