<body class="container">
    <div class="first">
        <br>
        <div class="element"><span>{{person.name}}</span><span>Registered Members</span><span>{{selectedComati?.name}}</span></div>
        <div class="table-container">
            <table *ngIf="selectedComati">Members in {{selectedComati.name}}
                <tr> <th>Name</th> <th>No.</th><th>Amount</th><th>Openeing</th></tr>
                <tr *ngFor="let member of members"> <td>{{member.name}}</td><td>{{member.comatiMemberNo}}</td><td>{{member.amount}}</td><td><app-date-pipe [date]="member.openingMonth" ></app-date-pipe></td></tr>
            </table>
        </div>
    </div>
    <div class="first">
        <br>
        <div class="element"><span>Add New Member</span></div>
        <br>
        <div class="inputField">
            <span class="span">Select Comati</span>
            <select class="input" type="text" id="comatiSelect" [(ngModel)]="selectedComati" (ngModelChange)="getMembers($event)" name="comatiSelect">
            <option *ngFor="let comati of comaties" [ngValue]="comati">{{ comati.name }}</option></select>
        </div>
        <div class="inputField">
            <span class="span">Select Person</span>
            <select class="input" type="text" id="personSelect" [(ngModel)]="member.personId" name="personSelect">
            <option *ngFor="let person of persons" [ngValue]="person.id">{{ person.name }}</option></select>
        </div>
        <div class="inputField">
            <span class="span">Paying Amount</span>
            <input class="input" type="number" [(ngModel)]="member.amount" name="amount" />
        </div>
        <div class="inputField">
            <span class="span">Opening Month</span>
            <input class="input" type="date" [(ngModel)]="member.openingMonth" name="openingDate" />
        </div>
        <div class="inputField">
            <span class="span">Remarks</span>
            
            <input class="input" type="text" [(ngModel)]="member.remarks" name="remarks" />
        </div>
        <br>
        <button class="button" (click)="register()">Add Member</button>
    </div>


</body>