<div class="container">
    <div class="first">
    <br>
    <div class="element"><span>User :</span><span>{{person.name}}</span></div>
    <label class="label">Select Comati </label>
        <select class="input" id="comatiSelect" [(ngModel)]="selectedComati" name="comatiSelect">
            <option *ngFor="let comati of comaties" [ngValue]="comati">{{ comati.name }}</option>
        </select>
        <br>
    <button class="button" (click)="getAllTimeDefaulters()">Find Overdue Payments</button>
        <app-table *ngIf="allTimeDefaulters" [data]="allTimeDefaulters" [hiddenFields]="['isActive']" 
         footer="Total Short: {{totalShort}}">
        </app-table>
    </div>
    <div class="first" >
        <br>
        <div class="element"><span>Add Payment</span><span>{{selectedComati?.name}}</span></div><br>
        <div class="inputField">
            <span class="span">Select Comati</span>
            <select class="input" id="comatiSelect" [(ngModel)]="comati" (ngModelChange)="getMembers($event)">
            <option class="option" *ngFor="let comati of comaties" [ngValue]="comati">{{ comati.name }}</option></select>
        </div>
        <div class="inputField">
            <span class="span">Select Member</span>
            <select class="input"  id="memberSelect" [(ngModel)]="member" (ngModelChange)="getAmount($event)">
            <option class="option" *ngFor="let member of members" [ngValue]="member">{{ member.name }}</option></select>
        </div>
        <div class="inputField">
            <span class="span">For the Month of: </span>
            <input class="input" [(ngModel)]="payment.paymentDate" type="date"/>
        </div>
        <div class="inputField">
            <h3>Amount</h3>
            <input class="input" type="number" [(ngModel)]="payment.amount" />
        </div>
        <div class="inputField">
            <span class="span">Remarks</span>
            <input class="input" type="text" [(ngModel)]="payment.remarks"/>
        </div>
        <br>
        <button class="button" (click)="payNow()">Pay Now</button>
        <div ><button  class="button" (click)="details()">See Payments History</button></div>
    </div>
</div>