<div class="tableContainer"  *ngIf="data && data.length > 0">
  <span>{{header}}</span>
    <table class="table">
      <thead>
        <tr>
          <th *ngFor="let field of fields" [hidden]="isFieldHidden(field.name)">{{ field.caption }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data |sortTable: dateFieldNames" [ngClass]="{'highlight': shouldHighlightRow(item)}">
        <td *ngFor="let field of fields" [hidden]="isFieldHidden(field.name)">{{ formatValue(item[field.name], field.name) }}</td>
        <fa-icon class="icon" (click)="editRow.emit(item)"[icon]="faEdit"></fa-icon>
        </tr>
      </tbody>
    </table>
    <span>{{footer}}</span>
</div>