<body>
  <nav class="navBar">
    <ul>
      <li><a routerLinkActive = "active"  routerLink="/dash-board">Home</a></li>
      <li><a routerLinkActive = "active"  routerLink="/add-comati">Add Comati</a></li>
      <li><a routerLinkActive = "active"  routerLink="/add-member">Add Member</a></li>
      <li><a routerLinkActive = "active"  routerLink="/add-payment">Add Payment</a></li>
      <li><a routerLinkActive = "active"  routerLink="/reg-person">Add Person</a></li>
    </ul>
    <ul>
      <li><a href="/login">Login</a></li>
    </ul>
  </nav>
  <div>
    <router-outlet></router-outlet>
  </div>
</body>