
.navBar {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  margin: 0;
  @media (max-width: 1024px) {
    .titles {
      display: none;
    }
  }
}

nav {
  background-color: #333;
  padding: 1rem;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    span {
      color: white;
    }
    li {
      margin-right: 1rem;

      a {
        color: white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.rightGap {
  display: flex;
  gap: 10px;
}
.loginButton {
  display: flex;
  gap: 8px;
  color: white;
}
main {
  padding: 2rem;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

.hamburger {
  display: none;

  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    z-index: 2;
    transition: translate 250ms ease-in-out;
    position: absolute;
    padding: 20px;
    padding-right: 50px;
    background-color:#333;
    height: 100vh;
    display: flex;
    &.opened{
      translate: -100%;
    }
  }
}
.hamburgerMenu {
  display: flex;
  color: white;
  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    font-size: larger;

    li{ text-size-adjust: 16px;
      a{
        text-decoration: none;
        color: white;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  
}
