body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 15;
    font-size: larger;
    background-color: #D6D6D6;
    height: 97vh;
    
  }
  .navBar {
    display: flex;
    justify-content: space-between;
  }
  .span {
    color: #fd0000;
  }
  nav {
    background-color: #333;
    padding: 1rem;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      li {
        margin-right: 1rem;
        a {
          color: white;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  
  .loginButton {
    display: flex;
    gap: 8px;
    color: white;
  }
  main {
    padding: 2rem;
  }
  
  .page {
    display: none;
  }
  
  .page.active {
    display: block;
  }
  