// Define common styles for labels and inputs
$form-element-padding: 10px;
$form-element-border-radius: 4px;
$form-element-border: 1px solid #ccc;
.body {
    width: 100%;
}
.first {
  display: flex;
  flex-direction: column;
  gap: 50px;
  
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    justify-content: space-around;
}
// Styling for labels
.label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  gap: 50px;
}
.row {
    display: flex;
    gap: 20px;
    
}
// Styling for inputs
.input, textarea {
  padding: $form-element-padding;
  border: $form-element-border;
  border-radius: $form-element-border-radius;
  width: 200px;
  box-sizing: border-box; // Ensures padding doesn't affect width
  margin-bottom: 15px; // Adjust as needed
  font-size: 16px; // Adjust font size as needed
}

// Additional styles for specific input types or classes
.input[type="checkbox"],
.input[type="radio"] {
  margin-bottom: 0;
}

input[type="submit"],
.button {
    text-decoration: none;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
  
  cursor: pointer;
  border-radius: $form-element-border-radius;
  font-size: 16px;
  
  &:hover {
    background-color: #0056b3;
  }
}
