<div class="container">
    <div class="first">
      <div><h3>Registered Persons</h3></div>
      
      </div>
    <div class="first">
      <h3>Register New Person</h3>
      <div class="inputField">
        <span class="span">Name</span>
        <input class="input" type="text" [(ngModel)]="person.name"/>
      </div>
      <div class="inputField">
        <span class="span">Phone</span>
        <input class="input" type="text" [(ngModel)]="person.phone"/>
      </div>
      <div class="inputField">
        <span class="span">Address</span>
        <input class="input" type="text" [(ngModel)]="person.address"/>
      </div>
      <div class="inputField">
        <span class="span">Remarks</span>
        <input class="input" type="text" [(ngModel)]="person.remarks"/>
      </div>
      <br>
      <button class="button" (click)="register()">Save</button>
    </div>
    
  </div>
  