<div class="container">
    <div class="first"><br>
      <div class="element"><span class="span"  type="text">Registered Persons</span>
        <input class="input" type="text" placeholder="Search..." [(ngModel)]="searchQuery" (ngModelChange)="filterPersons()" />
      </div>
        <app-table  *ngIf="filteredPersons" [data]="filteredPersons" [header]="'  ('+totalCount.toString()+')  registered persons'" (editRow)="editPersonfunc($event)" ></app-table>
      <br>
      <button *ngIf="!reg" (click)="openReg()" class="button">Register New Person</button>
    </div>
    <div *ngIf="reg" class="first">
      <br>
      <span class="element" name="regPerson">Register New Person</span>
      <br>
      <div class="inputField">
        <span class="span">Name</span>
        <input class="input" type="text" [(ngModel)]="regPerson.name"/>
      </div>
      <div class="inputField">
        <span class="span">Phone</span>
        <input class="input" type="text" [(ngModel)]="regPerson.phone"/>
      </div>
      <div class="inputField">
        <span class="span">Address</span>
        <input class="input" type="text" [(ngModel)]="regPerson.address"/>
      </div>
      <div class="inputField">
        <span class="span">Remarks</span>
        <input class="input" type="text" [(ngModel)]="regPerson.remarks"/>
      </div>
      <br>
      <button class="button" (click)="cancelEdit()" name="cancelButton">Close</button>
      <button class="button" (click)="regPer()" name="regButton">Save</button>
    </div>
    <div class="first" *ngIf="edit">
      <br>
      <span class="element" name="editPerson">Edit Person</span><br>
      <div class="element"><span>Person ID:</span><span >{{person.id}}</span></div>
      <div class="inputField">
        <span class="span">Name</span>
        <input class="input" type="text" [(ngModel)]="person.name"/>
      </div>
      <div class="inputField">
        <span class="span">Phone</span>
        <input class="input" type="text" [(ngModel)]="person.phone"/>
      </div>
      <div class="inputField">
        <span class="span">Address</span>
        <input class="input" type="text" [(ngModel)]="person.address"/>
      </div>
      <div class="inputField">
        <span class="span">Remarks</span>
        <input class="input" type="text" [(ngModel)]="person.remarks"/>
      </div>
      <br>
      <button class="button" (click)="editPer()" name="editButton">Update</button>
      <button class="button" (click)="cancelEdit()" name="cancelButton">Close</button>
      <button class="buttonAlert" (click)="openPopup(person)"  >Delete</button>
      <ng-template #popupContainer></ng-template>
    </div>
  </div>
  