<div class="container"><br>
    <div class="first">
        <div class="inputField">
            <span class="span">Select Comati</span>
            <select class="input" type="text" id="comatiSelect" [(ngModel)]="selectedComati" (ngModelChange)="comatiSelected($event)" name="comatiSelect">
            <option class="option" *ngFor="let comati of comaties" [ngValue]="comati">{{ comati.name }}</option></select>
        </div>
        <div class="inputField">
            <span class="span">Select Member</span>
            <select class="input"  id="memberSelect" [(ngModel)]="member" (ngModelChange)="getPersonDetails($event)" name="memberSelect">
            <option class="option" *ngFor="let memb of members" [ngValue]="memb">{{ memb?.name }}</option></select>
        </div>
        <br>
        <div class="element"><span class="span">{{personDetails?.name}}</span></div>
        <div class="element"><span class="span">All Payments</span> <span class="span">{{allPaymentsSum+" ("+paymentsCount+")"}}</span></div>
        <br>
        <div class="inputField"><span class="span">Monthly</span> <span class="span">{{member?.amount}}</span></div>
        <div class="inputField"><span class="span">Opening Date</span><app-date-pipe [date]="member?.openingMonth"></app-date-pipe></div>
        <div class="inputField"><span class="span">Phone: </span> <span class="span">{{personDetails?.phone}}</span> </div>
        <div class="inputField"><span class="span">Address: </span> <span class="span">{{personDetails?.address}}</span> </div>
        <div class="inputField"><span class="span">Person Remarks:</span> <span class="span">{{personDetails?.remarks}}</span> </div>
        <div class="inputField"><span class="span">Member Remarks:</span> <span class="span">{{member?.remarks}}</span> </div>
    </div>
    <div class="first">
        <div><br>
            <div class="element">
                <span>Payment History</span>
            </div>
            <app-table *ngIf="payments" [data]="payments" [hiddenFields]="['comatiPayments']"></app-table>
        </div>
    </div>
</div>
