/* You can add global styles to this file, and also import other style files */
// Define common styles for labels and inputs
$form-element-padding: 10px;
$form-element-border-radius: 0px;
$form-element-border: 1px solid #ccc;
$table-bg-color: #f9f9f9;
$table-border-color: #acacac;
$table-header-bg-color:  #a39e9e;
$table-header-text-color: #fff;
$table-row-hover-bg-color: white;
$table-padding: 10px;
$table-border-radius: 0px;
$greyBorder :1px solid #EAEEF5;
// @font-face {
//   font-family: 'Roboto';
//   src: local('Roboto'), local('Roboto-Regular'), url('C:\\Users\\Niaz2\\Downloads\\Roboto\\Roboto-Regular.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }
body {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  
}

.container {
    display: flex;
    justify-content: center; 
    padding: 10px;
    flex-direction: row;
    background-color: #d6d6d6;
    align-items: center;
    max-height: 85vh;
    gap: 15px;
    padding-bottom: 0px;
    @media (max-width: 1024px) {
      margin: 0;
      padding: 0;
      flex-direction: column;
      min-height: fit-content;
      max-height: fit-content;
      padding-bottom: 20px;
      gap: 15px;
      padding-left: 10px;
    }
}
.buttonAlert{
  text-decoration: none;
  background-color: rgb(241, 110, 110);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 10px;
  width: 100%;
  cursor: pointer;
  border-radius: $form-element-border-radius;
  font-size: 16px;
  
  &:hover {
    background-color: #807878;
    color: white;
  }
  
  .select {
    padding: $form-element-padding;
    border: $form-element-border;
    border-radius: $form-element-border-radius;
    width: 220px; // Adjust width as needed
    box-sizing: border-box;
    align-self: center;
    margin-bottom: 15px;
    font-size: 16px;
    appearance: none; // Removes default dropdown arrow for custom styling
    background-color: white;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px 12px;
}
}
.icon {
  width: 10px;
  height: 10px;
  &:hover {
    background-color: #c4c1c1;
  }
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 0;
}
.inputField {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.first {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgb(248, 248, 248);
  padding: 15px;
  border-radius: $form-element-border-radius;
  max-width: 500px;
  box-shadow: 2px 2px 1px 1px rgb(212, 212, 212);
  height: 80vh;
  &:hover {
    background-color: white;
  }
  @media (max-width: 1024px) {
    width: 100%;
  }
  .element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(238, 238, 238);
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    &:hover{
      background-color: white;
      font-weight:600;
      font-size: larger;
      box-shadow: #807878;
    }
  }
}
// Styling for labels
.label {
  margin: 0;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    gap: 5px;
}

// Styling for inputs
.input, textarea {
  padding: $form-element-padding;
  border: $form-element-border;
  border-radius: $form-element-border-radius;
  min-width:65%;
  max-width: 100%;
  box-sizing: border-box; // Ensures padding doesn't affect width
  margin-bottom: 0px;
  margin-top: 0px;
  max-height: 50px;
  font-size: 16px; // Adjust font size as needed
}

// Additional styles for specific input types or classes
.input[type="checkbox"],
.input[type="radio"] {
  margin-bottom: 0;
}


.button {
  text-decoration: none;
  background-color: rgb(220, 220, 220);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 10px;
  width: 100%;
  cursor: pointer;
  border-radius: $form-element-border-radius;
  font-size: 16px;
  margin-right: 3px;
  &:hover {
    background-color: #807878;
    color: white;
  }
  
  .select {
    padding: $form-element-padding;
    border: $form-element-border;
    border-radius: $form-element-border-radius;
    width: 220px; // Adjust width as needed
    box-sizing: border-box;
    align-self: center;
    margin-bottom: 15px;
    font-size: 16px;
    appearance: none; // Removes default dropdown arrow for custom styling
    background-color: white;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px 12px;
}

// Dropdown option styling
.option {
    padding: $form-element-padding;
    font-size: 16px;
}


// Styling for focused elements
.input:focus,
.select:focus,
textarea:focus,
input[type="submit"]:focus,
.button:focus {
    outline: none;
    border-color: #807878;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
}
